<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" opened>

        <div class="logo-container">
            <img width="80" alt="Company Logo"
                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
        </div>

        <div class="menu-container" fxLayout="column" fxLayoutAlign="space-evenly">
            <mat-list role="list">
                <div *ngIf="isLogedIn">
                    <mat-list-item [routerLink]="['/profile/' + id]" role="listitem">
                        <mat-icon class="icon-coloring" aria-hidden="false" aria-label="Example home icon"> person
                        </mat-icon> Profile
                    </mat-list-item>
                    <mat-list-item (click)="ListMessages()" role="listitem">
                        <mat-icon class="icon-coloring" aria-hidden="false" aria-label="Example home icon"> message
                        </mat-icon> <span> Messages </span>
                        <!-- [matBadge] = "privateConversationIdList.length" color="accent" -->
                    </mat-list-item>
                    <!-- <mat-list-item role="listitem">
                        <mat-icon class="icon-coloring" aria-hidden="false" aria-label="Example home icon"> group
                        </mat-icon> Grupes <mat-icon class="grop-chat" aria-hidden="false"
                            aria-label="Example home icon" (click)="createPrivateGroup()"> add </mat-icon>
                    </mat-list-item> -->
                    <mat-list-item (click)="ListPages()" role="listitem">
                        <mat-icon class="icon-coloring" aria-hidden="false" aria-label="Example home icon">
                            <!-- [matBadge] = "pageIdList.length" color="accent" -->
                            chrome_reader_mode
                        </mat-icon> <span> Pages </span>
                        <mat-icon class="grop-chat" aria-hidden="false" aria-label="Example home icon"
                            (click)="createPublicGroup()"> add </mat-icon>
                    </mat-list-item>

                    <mat-list-item (click)="searchUsers()" role="listitem">
                        <mat-icon class="icon-coloring" aria-hidden="false" aria-label="Example home icon"> search
                        </mat-icon> Search Users
                    </mat-list-item>
                </div>
                <mat-list-item (click)="search()" role="listitem">
                    <mat-icon class="icon-coloring" aria-hidden="false" aria-label="Example home icon"> search
                    </mat-icon> Search Pages
                </mat-list-item>

            </mat-list>

        </div>
    </mat-drawer>

    <mat-toolbar>

        <div class="navbar-element-container">
            <div id="cotalker-container" fxLayout="column" fxLayoutAlign="center space-around">
                <span *ngIf=" cotalker != ''"> {{ cotalker }} </span>
            </div>

            <ul id="menu">

                <ng-template #userloggedOut>
                    <li>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            {{ userName }}
                        </button>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="logOut()">
                                <mat-icon>exit_to_app</mat-icon>
                                <span>Log Out </span>
                            </button>
                        </mat-menu>

                    </li>
                </ng-template>

                <div *ngIf="!isLogedIn; else userloggedOut">
                    <li [routerLink]="['/register']">
                        <mat-icon class="icon-coloring" aria-hidden="false" aria-label="Example home icon"> group_add
                        </mat-icon> Register
                    </li>
                    <li [routerLink]="['/login']">
                        <mat-icon class="icon-coloring" aria-hidden="false" aria-label="Example home icon"> person
                        </mat-icon> Log In
                    </li>
                </div>
            </ul>
        </div>

    </mat-toolbar>



    <mat-list role="list" class="mobile-menu" fxLayout.xs="column">
        <div *ngIf="isLogedIn">
            <mat-list-item [routerLink]="['/profile/' + id]" role="listitem">
                <mat-icon class="icon-coloring" aria-hidden="false" aria-label="Example home icon"> person
                </mat-icon> Profile
            </mat-list-item>
            <mat-list-item (click)="ListMessages()" role="listitem">
                <mat-icon class="icon-coloring" aria-hidden="false" aria-label="Example home icon"> message
                </mat-icon> <span> Messages </span>
            </mat-list-item>
            <!-- <mat-list-item role="listitem">
                        <mat-icon class="icon-coloring" aria-hidden="false" aria-label="Example home icon"> group
                        </mat-icon> Grupes <mat-icon class="grop-chat" aria-hidden="false"
                            aria-label="Example home icon" (click)="createPrivateGroup()"> add </mat-icon>
                    </mat-list-item> -->
            <mat-list-item (click)="ListPages()" role="listitem">
                <mat-icon class="icon-coloring" aria-hidden="false" aria-label="Example home icon">
                    <!-- [matBadge] = "pageIdList.length" color="accent" -->
                    chrome_reader_mode
                </mat-icon> <span> Pages </span>
                <mat-icon class="grop-chat" aria-hidden="false" aria-label="Example home icon"
                    (click)="createPublicGroup()"> add </mat-icon>
            </mat-list-item>

            <mat-list-item (click)="searchUsers()" role="listitem">
                <mat-icon class="icon-coloring" aria-hidden="false" aria-label="Example home icon"> search
                </mat-icon> Search Users
            </mat-list-item>
        </div>
        <mat-list-item (click)="search()" role="listitem">
            <mat-icon class="icon-coloring" aria-hidden="false" aria-label="Example home icon"> search
            </mat-icon> Search Pages
        </mat-list-item>

    </mat-list>


    <div fxLayout="row" fxLayout.xs="column">

        <div class="contacts-container">

            <div class="contact-info" *ngIf=" !groupDataSourceShow ">
                <!-- *ngIf=" contacList.length != 0 " -->
                <app-messages [id]="id" [messages]="contacList" (contact)="getContactChat($event)"
                    (deleteContactId)="deleteContactChat($event)" (filterText)="applyContactFilter($event)"
                    [n]="contacList.length" (resetFilterField)="resetFilterContacts($event)">
                </app-messages>
            </div>

            <div class="contact-info" *ngIf="groupDataSourceShow ">
                <form [formGroup]="form" (ngSubmit)="applyFilter()">
                    <mat-form-field appearance="standard">
                        <mat-label>Filter</mat-label>
                        <input matInput [formControlName]="'filterField'" name="filterField" id="filterField">
                    </mat-form-field>
                </form>
                <button class="reset-coloring" mat-stroked-button (click)="ListPages()"> Reset </button>

                <mat-table #table mat-table [dataSource]="chatGroups">
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Group Name </mat-header-cell>
                        <mat-cell (click)="getChatRoomData(element)" *matCellDef="let element"> {{element.name}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="topic">
                        <mat-header-cell *matHeaderCellDef> Topic </mat-header-cell>
                        <mat-cell (click)="getChatRoomData(element)" *matCellDef="let element"> {{element.topic}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-icon *ngIf="element.adminId == id " class="del-icon" (click)="deleting(element)"
                                aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="modyfie">
                        <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
                        <mat-cell (click)="updatingPage(element)" *matCellDef="let element">
                            <mat-icon *ngIf="element.adminId == id " class="upd-icon" aria-hidden="false"
                                aria-label="Example home icon">create
                            </mat-icon>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="info">
                        <mat-header-cell *matHeaderCellDef> Info </mat-header-cell>
                        <mat-cell (click)="getChatRoomDetails(element.id)" *matCellDef="let element">
                            <mat-icon aria-hidden="false" aria-label="Example home icon"> info_outline </mat-icon>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>

        <div class="chatbox-container" fxLayout="column" fxLayoutAlign="space-evenly center">
            <div class="filter-container">
                <form [formGroup]="filtertext" (ngSubmit)="filterMesages()" fxLayout="column"
                    fxLayoutAlign="space-around center">
                    <mat-form-field appearance="fill">
                        <mat-label>filter</mat-label>
                        <input matInput type="text" [formControlName]="'filter'" name="filter" id="filter"
                            placeholder="Placeholder">
                    </mat-form-field>
                </form>
            </div>

            <div class="mesage-container" fxLayout="column">

                <mat-card *ngFor="let message of messages"
                    [ngStyle]="{ 'margin-left': (message.userId == id ) ? '40%' : '3%', 'width' : '50%', 'margin-bottom': '5%' , 'margin-top': '3%'  }">
                    <mat-card-header fxLayout="row" fxLayoutAlign="space-between stretch">
                        <div mat-card-avatar class="photo-container">
                            <!-- <img *ngIf=" message.profilePhoto != '' ; else inicials " mat-card-image [src] ="message.profilePhoto" alt=""> -->
                            <ngx-avatar [src]="message.profilePhoto" size="40" [round]="true">
                            </ngx-avatar>
                            <div class="photo-container-inicial">
                                <ng-template #inicials>
                                    <div fxLayout="row" fxLayoutAlign="center" class="photo-container.inicial">
                                        <ngx-avatar [name]="message.userName!.split('')[0]" size="40" [round]="true">
                                        </ngx-avatar>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <mat-card-title> {{message.userName}} </mat-card-title>
                        <mat-card-subtitle *ngIf=" message.messageTime != null ; else myTime "> {{message.messageTime |
                            date : 'h:mm:ss a'}} </mat-card-subtitle>
                        <ng-template #myTime>
                            <mat-card-subtitle> {{ getCurrentTime() | date : 'h:mm:ss a' }} </mat-card-subtitle>
                        </ng-template>
                    </mat-card-header>

                    <mat-card-content>
                        <p>
                            {{message.messageText}}
                        </p>
                    </mat-card-content>

                    <mat-card-actions>
                        <div class="btn-container">
                            <button *ngIf=" message.userId == id " class="del-buton" (click)="deleteMessage( message )"
                                mat-button>
                                <mat-icon aria-hidden="false" aria-label="Example home icon"> clear </mat-icon> Delete
                            </button>
                            <button class="del-buton" (click)="deleteMessageForMe( message )" mat-button>
                                <mat-icon aria-hidden="false" aria-label="Example home icon"> clear </mat-icon> Delete
                                for Me
                            </button>
                        </div>

                    </mat-card-actions>
                </mat-card>
            </div>


            <div class="message-sender" *ngIf="isLogedIn  ">
                <!-- && chatRoomid != ''  *ngIf="!isAdmin && chatRoomid != ''" -->
                <button id="leave-btn" mat-stroked-button
                    *ngIf="id != '0' && showGroupParticipants && showChatRoomDataTable " (click)="leaveChatroom()">
                    Leave </button>

                <form [formGroup]="sendtext" (ngSubmit)="sendMesage()" fxLayout="row"
                    fxLayoutAlign="space-around center">
                    <mat-form-field appearance="fill">
                        <mat-label>message</mat-label>
                        <input matInput type="text" [formControlName]="'message'" name="message" id="message"
                            placeholder="Placeholder">
                    </mat-form-field>
                    <button mat-stroked-button color="accent"> Send </button>
                </form>

                <i (click)="toggled = !toggled" [(emojiPickerIf)]="toggled"
                    [emojiPickerDirection]="'bottom' || 'top' || 'left' || 'right'"
                    (emojiPickerSelect)="handleSelection($event)"> click emoji
                </i>

            </div>
        </div>

        <!-- pjesa trete ku shfaqen inot e perdoruesit apo grupit -->
        <div class="chatbox-data" fxLayout="column" fxLayoutAlign="space-evenly center"
            *ngIf="isLogedIn ; else additionalData ">

            <div class="data-container" *ngIf=" chatDetails != undefined && showContactInfo " fxLayout="column"
                fxLayoutAlign="space-around center">
                <div class="user-data-container">
                    <!-- <img *ngIf=" chatDetails.profilePhoto != '' ; else photo " mat-card-image [src] ="chatDetails.profilePhoto" alt=""> -->
                    <ngx-avatar *ngIf=" chatDetails.profilePhoto != '' ; else photo " [src]="chatDetails.profilePhoto"
                        size="50" [round]="true">
                    </ngx-avatar> <!-- src="assets/avatar.jpg" -->

                    <div class="photo-container-inicial">
                        <ng-template #photo>
                            <div fxLayout="row" fxLayoutAlign="center" class="photo-container.inicial">
                                <ngx-avatar [name]="chatDetails.userName" size="50" [round]="true">
                                </ngx-avatar>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="user-data-container" fxLayout="column" fxLayoutAlign="space-evenly center">
                    <span> {{ chatDetails.userName }} </span>
                    <span> {{ chatDetails.name }} </span>

                    <span *ngIf="chatDetails.userActive; else ofline"> Active </span>
                    <ng-template #ofline>
                        <span> InActive </span>
                    </ng-template>

                    <span> {{ chatDetails.city }} </span>
                </div>

                <div class="user-data-container" fxLayout="column" fxLayoutAlign="space-evenly center">
                    <h3> Languages </h3>
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor=" let language of chatDetails.languages ">
                            {{language}}
                        </mat-list-item>
                    </mat-list>
                </div>

                <div class="user-data-container" fxLayout="column" fxLayoutAlign="space-evenly center">

                    <h3> Interests </h3>
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor=" let interest of chatDetails.interests ">
                            {{interest}}
                        </mat-list-item>
                    </mat-list>
                </div>

                <div class="user-data-container" fxLayout="column" fxLayoutAlign="space-evenly center">
                    <h3> About </h3>
                    <p> {{chatDetails.about}} </p>
                </div>

            </div>



            <div class="contact-info" *ngIf="id != '0' && showGroupParticipants && showChatRoomDataTable ">

                <mat-form-field appearance="standard">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilterActiveUsers($event)" #input>
                </mat-form-field>

                <mat-table #table mat-table [dataSource]="participantDetails" class="compamie-table">
                    <ng-container matColumnDef="photo">
                        <mat-header-cell *matHeaderCellDef> Photo </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <ngx-avatar [name]="element.userName" size="40" [round]="true">
                            </ngx-avatar>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="userName">
                        <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.userName}}
                        </mat-cell>
                    </ng-container>
                    <!-- <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-icon *ngIf="isAdmin" class="del-icon" (click)="deleting(element)" aria-hidden="false"
                                aria-label="Example home icon">delete</mat-icon>
                        </mat-cell>
                    </ng-container> -->
                    <mat-header-row *matHeaderRowDef="participantDetailsdisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: participantDetailsdisplayedColumns;"></mat-row>
                </mat-table>

                <mat-paginator #paginator1 [pageSize]="1" [pageSizeOptions]="[1, 3, 5, 7, 10, 15]"></mat-paginator>

            </div>

        </div>
        <ng-template #additionalData>
            <div>
                <p>
                    Log In in order to enjoy full access of chatting app.
                </p>
            </div>
        </ng-template>

    </div>

</mat-drawer-container>